NWGP7_Client(no logic)/.vs/
NWGP7_Client(no logic)/x64/
NWGP7_Client(no logic)/NWGP7_Client/x64/

NWGP7_Server/.vs/
NWGP7_Server/x64/
NWGP7_Server/NWGP7_Server/x64/

NWGP7_Client(in logic)/.vs/
NWGP7_Client(in logic)/x64/
NWGP7_Client(in logic)/NWGP7_Client/x64/